extends ../layout

block content
  h1 Edit Book

  form(action="/books/" + theBook._id + "/update", method="post")
    label(for="title") Title
    input(type="text", name="title")

    label(for="author") Author
    input(type="text", name="author")

    div.actions
      input(type="submit", name="submit", value="Update Book")
